<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(212, 24, 24)"><span style="color: white">GG </span>Freaks</h4>
        <img src="../../../assets/Images/Logo2.png" routerLink="/" height="100px" style="margin-left: 7px; margin-top: 10px; cursor:pointer"/>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

      <!-- Grid column -->


      <!-- Grid column -->

      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(212, 24, 24)"><span style="color: white">About </span>Us</h4>

        <ul class="list-unstyled">

          <li>
            <div style="display: flex; justify-content: space-between;">
              <mat-icon>home</mat-icon>8 Rue De Toulouse La Marsa Tunis
            </div>
            <div style="display: flex; justify-content: space-between;">
              <mat-icon>phone</mat-icon>(+216) 99 666 666
            </div>
            <div style="display: flex; justify-content: space-between;">
              <a href="mailto:ggfreaks@gmail.com"><mat-icon>email</mat-icon></a>ggfreaks@gmail.com
            </div>
            <div style="display: flex; justify-content: space-between;">
              <mat-icon>print</mat-icon>(+216) 36 666 666
            </div>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr style="width:80%">

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a href="" class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f" title="Facebook Page"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a  href="" class="btn-floating btn-tw mx-1">
        <i class="fab fa-youtube" title="Youtube Channel"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a  href="" class="btn-floating btn-tw mx-1">
        <i class="fab fa-instagram" title="Instagram Account"> </i>
      </a>
    </li>

  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> All rights reserved</a>
  </div>
  <!-- Copyright -->

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</footer>
<!-- Footer -->
