<h3>Create Product</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form>
    <div class="form-group">
      <label for="name">Product name</label>
      <input type="text" class="form-control" id="name" required="true" [(ngModel)]="product.nom" name="name">
    </div>
    <div class="form-group">
      <label for="description">Product description</label>
      <input type="text" class="form-control" id="description" required="true" [(ngModel)]="product.desc"
             name="description">
    </div>
    <div class="form-group">
      <label for="Productcategory">Category</label>
      <select id="Productcategory" name="category" [(ngModel)]="selectedCategory" class="form-control" (change)="onChange($event)">
        <option *ngFor="let cat of categoriesList" [ngValue]="cat">
          {{cat.nom}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="Productsouscategory">Sous Category</label>
      <select id="Productsouscategory" name="category" [(ngModel)]="product.sousCategorie" class="form-control">
        <option *ngFor="let cat of sousCategoriesList" [ngValue]="cat._id">
          {{cat.nom}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="image">Product Image</label>
      <input type="text" class="form-control" id="image" required="true" [(ngModel)]="product.image"
             name="quantity">
    </div>
    <div class="form-group">
      <label for="quantity">Product quantity</label>
      <input type="number" class="form-control" id="quantity" required="true" [(ngModel)]="product.stock"
             name="quantity">
    </div>
    <div class="form-group">
      <label for="price">Product price</label>
      <input type="number" class="form-control" id="price" required="true" [(ngModel)]="product.prix" name="price">
    </div>

    <button type="submit" (click)="closeThis()" class="btn btn-success">Submit</button>
  </form>
</div>

